{% load i18n %}

{% blocktrans %}
You're receiving this email because you requested a password reset for your account at {{ site_name }}.
{% endblocktrans %}

{% trans "Please click the following link to reset your password:" %}

{% block reset_link %}
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
{% endblock %}

{% blocktrans %}
If you didn't request a password reset, please ignore this email or contact our support team if you have any concerns.
{% endblocktrans %}

{% trans "Thanks for using our site!" %}