{% load static %}

<!-- create post -->
<div class="block_page create_post d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="" class="profile_img">
        {% else %}
            <img src="{% static 'img/profile.png' %}" alt="" class="profile_img">
        {% endif %}
        <div class="info">
            {% if user.first_name %}
                <h3 class="name">{{ user.first_name|title }}, happens something new?</h3>
            {% else %}
                <h3 class="name">{{ user.username|title }}, happens something new?</h3>
            {% endif %}
            <p class="text">Tell about it to community</p>
        </div>
    </div>
    <div>
        <a href="{% url 'add_post' %}" class="btn btn-primary"><p>Create a post</p></a>
    </div>
</div>
<!-- end create post -->