<div class="following">
    {% if followers %}
        <h1 class="following_title">Followers</h1>
    {% else %}
        <h1 class="following_title">Following</h1>
    {% endif %}

    <div class="search">
        <input type="text" name="q" id="search-input" placeholder="Search feeds">
        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.5 3C11.2239 3 12.8772 3.68482 14.0962 4.90381C15.3152 6.12279 16 7.77609 16 9.5C16 11.11 15.41 12.59 14.44 13.73L14.71 14H15.5L20.5 19L19 20.5L14 15.5V14.71L13.73 14.44C12.5505 15.4468 11.0507 15.9999 9.5 16C7.77609 16 6.12279 15.3152 4.90381 14.0962C3.68482 12.8772 3 11.2239 3 9.5C3 7.77609 3.68482 6.12279 4.90381 4.90381C6.12279 3.68482 7.77609 3 9.5 3M9.5 5C7 5 5 7 5 9.5C5 12 7 14 9.5 14C12 14 14 12 14 9.5C14 7 12 5 9.5 5Z"/>
        </svg>
    </div>

    <div class="profile_block" id="search-results">
        {% if followers %}
            {% for profile in followers %}
                {% include "include/followers_list.html" with profile=profile %}
            {% endfor %}
        {% else %}
            {% for profile in following %}
                {% include "include/followers_list.html" with profile=profile %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>

    // поиск профилей по написанию символов в поисковике
    const searchInput = document.getElementById('search-input');
    const searchResults = document.getElementById('search-results');

    searchInput.addEventListener('input', () => {
    const searchTerm = searchInput.value.toLowerCase();
    const profiles = searchResults.getElementsByClassName('profile');
    for (let i = 0; i < profiles.length; i++) {
        const name = profiles[i].getElementsByClassName('name')[0].textContent.toLowerCase();
        const text = profiles[i].getElementsByClassName('text')[0].textContent.toLowerCase();
        if (name.includes(searchTerm) || text.includes(searchTerm)) {
            profiles[i].style.display = 'block';
        } else {
            profiles[i].style.display = 'none';
        }
    }
    });
</script>