{% load static %}

<div class="notifications_block">
    {% for notification in notifications_list %}

        {% if notification.post %}
            <a href="{% url 'post_detail' pk=notification.post.id %}">
        {% else %}
            <a href="{% url 'profile' pk=notification.initializer.id %}">
        {% endif %}
                <div class="block_page notification d-flex">
                    <img src="{% static 'img/profile.png' %}" alt="" class="logo_notification">
                    <div class="body_notification" style="width:100%">
                        <div class="d-flex justify-content-between">
                            <p class="topick_notification">In case you missed the feed</p>
                            <p class="topick_notification"> {{ notification.date|timesince }}</p>
                        </div>
                        <p class="text_notification">{{ notification.text }}</p>
                    </div>
                </div>
            </a>
    {% endfor %}
</div>