<div class="search_pages">
    <div class="page active" id="page_feeds" onclick="changePage('page_feeds', 'data_feeds')">
        <p>Feeds</p>
        <div class="line"></div>
    </div>
    <div class="page" id="page_topics" onclick="changePage('page_topics', 'data_topics')">
        <p>Topics</p>
        <div class="line"></div>
    </div>
    <div class="page" id="page_users" onclick="changePage('page_users', 'data_users')">
        <p>Users</p>
        <div class="line"></div>
    </div>
</div>