<div class="row">
    <div class="col">
        <!-- title -->
        <div class="page_title_block">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h1 class="page_title d-flex">
                        <a href="{% url 'home' %}">
                            <svg width="24" height="25" viewBox="0 0 24 25" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.0002 11.5V13.5H8.00016L13.5002 19L12.0802 20.42L4.16016 12.5L12.0802 4.57996L13.5002 5.99996L8.00016 11.5H20.0002Z"/>
                            </svg> 
                        </a>
                        <div>
                            {{ page_name }}
                            {% if page_subname %}
                                <p class="read_time">@{{ page_subname }}</p>
                            {% endif %}
                        </div>
                        
                    </h1>
                    
                </div>
                {% if profile_user == user %}
                    <div class="btn btn-outline-black">
                        <a href="{% url 'profile_settings' %}" class="popup-link">
                            <p>edit profile</p>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>	
        <!-- end title -->
    </div>
</div>


<script>
$(document).ready(function() {
	$('.popup-link').magnificPopup({
		type: 'ajax',
		preloader: false,
		focus: '#name',

		// When elemened is focused, some mobile browsers in some cases zoom in
		// It looks not nice, so we disable it:
		callbacks: {
			beforeOpen: function() {
				if($(window).width() < 700) {
					this.st.focus = false;
				} else {
					this.st.focus = '#name';
				}
			}
		}
	});
});
</script>