{% extends 'blog/page_layout.html' %}

{% block contant %}
	<div class="contant">
		<div class="container">
			{% include "include/title.html" %}


			<div class="row">
				<div class="col-lg-8">
					<div class="term" id="term_1">
						<h3 class="name">
							What is a Terms of Use Agreement?
						</h3>
						<p class="text">A Terms of Use agreement is a legal document that lets you set the rules of engagement with your site, explain how and why you may suspend or ban people from your service and avoid potential legal issues.</p>
					</div>
					<div class="term" id="term_2">
						<h3 class="name">
							Is a Terms of Use Agreement Legally Binding?
						</h3>
						<p class="text">Yes, a Terms of Use agreement is legally binding if it's clear, reasonable, lawful and agreed upon.<br><br>
							The courts will usually enforce a Terms of Use agreement against either party if it's clear that both parties clearly agreed to it, and both parties knew what they were agreeing to.<br><br>
							However, there are certain clauses that courts will not enforce under any circumstances. For example, clauses that are designed to trick or exploit the user, or clauses that are forbidden by law.
						</p>
					</div>
					<div class="term" id="term_3">
						<h3 class="name">
							Is a Terms of Use Agreement a Contract?
						</h3>
						<p class="text">Is a Terms of Use Agreement a Contract?</p>
					</div>
					<div class="term" id="term_4">
						<h3 class="name">
							Is a Terms of Use Agreement a Legal Requirement?
						</h3>
						<p class="text">Creating a Terms of Use agreement is not a legal requirement. However, a Terms of Use agreement is a simple, effective way to help your company avoid legal issues and is thus highly recommended regardless of not being required.</p>
					</div>
				</div>

                <!-- пустой столбец -->
				<div class="col-lg-1"></div>
				<!-- пустой столбец -->

				<div class="col-lg-3">
					<div class="sticky">
						<div class="anchor">
							<a href="#term_1">
								<p>1. What is a Terms of Use Agreement?</p>
							</a>
							<a href="#term_2">
								<p>2. Is a Terms of Use Agreement Legally Binding?</p>
							</a>
							<a href="#term_3">
								<p>3. Is a Terms of Use Agreement a Contract?</p>
							</a>
							<a href="#term_4">
								<p>4. Is a Terms of Use Agreement a Legal Requirement?</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}